# Python / simulator
__pycache__/
*.pyc
venv/
env/
.env

# Node / backend, dashboard
node_modules/
dist/
dist
dist-ssr
*.local
build/
npm-debug.log*
.env.local

# React / dashboard
dashboard/node_modules/
dashboard/build/
dashboard/dist/
dashboard/.env

# AWS / infra
.aws/
*.zip

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
