.pet-controls {
    position: absolute;
    bottom: 55%;              /* move buttons up from bottom */
    display: inline-flex;
    gap: 3px;
    justify-content: center;
    z-index: 2;
    font-size: 0.5rem;
    height: auto;
}