.pet-sprite {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    transition:
        transform 0.3s ease,
        filter 0.3s ease;
}

.pet-image {
    font-size: 1.5rem;
    z-index: 1;                 /* buttons appear above */
    margin-top: 30%;            /* push emoji down */
}

/* Mood modifiers */
.pet-sprite.happy { background-color: yellow; }
.pet-sprite.neutral { background-color: orange; }
.pet-sprite.sad { background-color: lightblue; }
